.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgrey;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.success {
  background: linear-gradient(135deg, #2a4c41, #6fc6aa);
}

.warning {
  background: #966400;
}

.error {
  background: #8b0012;
}
