.LoginFormContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #2a4c41, #6fc6aa);
}

.LoginForm {
  background: rgb(255, 255, 255);
  padding: 40px 50px;
  border-radius: 10px;

  width: 380px;
  max-width: 65%;
  max-height: 75%;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.LoginForm h1 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #2c3e50;
}

.LoginForm h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin: 10px 0;
  margin-bottom: 5px;
  color: #2c3e50;
}

.form-section-title.buttons {
  display: flex;
  margin-top: 20px;
}

.login-input {
  width: 100% !important;
  height: 25px !important;
  padding: 5px !important;
}

.login-form-group {
  flex-direction: column;
}
